
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.site-header .logo {
    font-size: 24px;
    font-weight: bold;
}

.bar-history {
    font-family: 'Roboto', sans-serif; /* Modern, readable font */
    background-image: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-attachment: fixed; /* Parallax-like effect */
    color: #333;

}

.bar-history main {
    max-width: 800px;
    margin: 40px auto;
    margin-bottom: 200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent with blur for readability */
    backdrop-filter: blur(5px);
    border-radius: 10px; /* Soft edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: transform 0.3s ease-out; /* Smooth transition for interactive hover effect */
}

.bar-history main:hover {
    transform: scale(1.02); /* Slight zoom on hover for an interactive feel */
}

.bar-history h1 {
    color: black; /* Bright, engaging color */
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better contrast */
}

.bar-history p {
    font-size: 1rem;
    line-height: 1.6;

}

/* Enhancements for Links */
.bar-history a {
    color: lightgray;
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease-in-out; /* Smooth color transition for hover */
}

.bar-history a:hover {
    color: darkgray;
    text-decoration: underline; /* Add underline on hover for clarity */
}


/* Responsive Design Adjustments */


nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}


.banner {
    background: url('https://files.guidedanmark.org/files/382/2464_Salon_39.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.banner h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bar-list {
    font-family: 'Open Sans', sans-serif;
    margin: 40px auto;
    padding: 30px;
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.bar-list:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.1);
}

.button {
    background-color: #252424;
    color: #ffffff;
    padding: 12px 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

.button:hover, .button:focus {
    background-color: #353535;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
}


.button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

body.find-a-bar-page {
    background-image: url('https://images.pexels.com/photos/941864/pexels-photo-941864.jpeg?cs=srgb&dl=pexels-chan-walrus-941864.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
}


.find-a-bar-page {
    background-color: #f0f0f8; /
}

.bar-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.bar-list th {
    background-color: black;
    color: white;
    padding: 10px;
}

.bar-list td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.highlight-bar td a:first-of-type {
    color: black;
    font-weight: bold;
    font-size: larger;
}



.button {
    background-color: #1e1e1e;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: black; /* Darker shade on hover */
}

/* Checkbox Wrapper for Inline Display */
.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-wrapper input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-wrapper label {
    margin: 0;
}



body.add-a-bar {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

form p {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


form input[type="text"],
form select,
form input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

form select {
    display: block;
    cursor: pointer;
}

form input[type="checkbox"] {
    width: auto; /* Resets width for checkboxes */
    margin-right: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: black;
}orm input[type="submit"]:hover {
     background-color: black;
 }

form input[type="submit"] {
    background-color: black;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.service {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33% - 20px);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.service a {
    color: #333;
    text-decoration: none;
}


.services a, .services a:visited {
    color: #333;
    text-decoration: none;
}

.services a:hover, .services a:focus {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}


.services .service a {
    display: block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.services .service {
    margin: 10px;
    padding: 0;
    width: calc(33% - 20px);
    text-align: center;
    border: none;
    box-shadow: none;
}


.services .service img, .services .service h3, .services .service p {
    pointer-events: none;
}

.service img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

.destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.destination {
    margin: 10px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.social-media {
    margin-top: 10px;
}

.social-media a:not(:last-child) {
    margin-right: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .services, .destinations {
        flex-direction: column;
    }

    .service, .destination {
        width: 90%;
        margin: 10px auto;
    }

    main img {
        width: 100%;
        max-width: 1024px;
        height: auto;
        display: block;
        margin: 20px auto;
    }

    body {
        font-family: 'Open Sans', Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }

    .site-header {
        background-color: #333;
        color: white;
        padding: 20px 0;
        text-align: center;
    }

    .site-header .logo {
        font-weight: bold;
        color: #fff;
    }

    nav ul {
        padding: 0;
        list-style: none;
    }

    nav a {
        color: white;
        text-decoration: none;
        padding: 0 15px;
    }

    nav a:hover {
        text-decoration: underline;
    }

    main {
        max-width: 800px;
        margin: 40px auto;
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #333;
    }

    form {
        display: grid;
        grid-gap: 20px;
        padding: 20px;
    }

    label {
        display: block;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    textarea {
        height: 150px;
        resize: vertical;
    }

    button[type="submit"] {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button[type="submit"]:hover {
        background-color: black;
    }

    .checkbox-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .checkbox-group div {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    input[type="checkbox"] {
        margin-right: 5px; /* Space between the checkbox and its label */
        cursor: pointer;
    }
}

label {
    cursor: pointer;
    display: inline-block;
}

body.add-a-bar {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?cs=srgb&dl=pexels-chris-f-1283219.jpg&fm=jpg'); /* Add your image path here */
    background-size: cover;
    background-position: center;
    color: #333;
}


.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.checkbox-wrapper input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}


.checkbox-wrapper label {
    margin: 0;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}
.about-us {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: black;

}

.about-us main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-us h1, .about-us h2 {
    color: black;
}

.about-us h1 {
    margin-top: 0;
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    font-size: larger;
}

.about-us p {
    margin-bottom: 20px;
}

.about-us h2 {
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 15px;
}


@media (min-width: 768px) {
    .about-us {
        font-size: 15px;
    }

    .about-us p {
        text-align: justify;
    }


    .tags {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        color: #333;
        padding: 20px;
        margin: 0 auto;
    }


    .tags table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #fff;
    }


    .tags th, .tags td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }


    .tags th {
        background-color: #000;
        color: #fff;
    }


    .tags tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }


    .tags tbody tr:hover {
        background-color: #ddd;
    }


    @media screen and (max-width: 600px) {
        .tags table, .tags thead, .tags tbody, .tags th, .tags td, .tags tr {
            display: block;
        }

        .tags thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .tags tr {
            border: 1px solid #ccc;
        }

        .tags td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            text-align: right;
        }

        .tags td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
            content: attr(data-label);
        }


        @media (max-width: 768px) {
            .bar-history main {
                margin: 20px;
                padding: 15px;
            }

            .bar-history h1 {
                font-size: 2rem;
            }


            .site-header, .banner h1, .bar-list, .button {
                text-align: center;
                padding: 10px;
            }

            .contact-us {
                font-family: 'Arial', sans-serif;
                background: linear-gradient(to right, grey 0%, black 100%);
                padding: 40px 20px;
                color: #fff;
            }

            .contact-us main {
                max-width: 600px;
                margin: 40px auto;
                padding: 30px;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 10px;
                box-shadow: 0 8px 16px rgba(0,0,0,0.2);
                backdrop-filter: blur(5px);
            }

            .contact-us h1 {
                color: #fff;
                margin-bottom: 30px;
                text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
                letter-spacing: 1.5px;
            }

            .contact-us label {
                display: block;
                margin-bottom: 15px;
                font-weight: bold;
                opacity: 0.9;
            }

            .contact-us input[type="text"],
            .contact-us input[type="email"],
            .contact-us textarea {
                width: 100%;
                padding: 15px;
                margin-bottom: 25px;
                border: 2px solid black;
                border-radius: 5px;
                box-sizing: border-box;
                transition: border-color 0.3s ease-in-out;
            }

            .contact-us input[type="text"]:focus,
            .contact-us input[type="email"]:focus,
            .contact-us textarea:focus {
                border-color: grey;
                outline: none; /* Fjerner standard outline */
            }

            .contact-us textarea {
                height: 150px;
                resize: none; /* Forhindrer brugeren i at ændre tekstområdets størrelse */
            }

            .contact-us button[type="submit"] {
                background-color: black;
                color: white;
                padding: 15px 25px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 18px;
                letter-spacing: 1px;
                transition: transform 0.2s ease-in-out, background-color 0.3s;
                box-shadow: 0 4px 6px rgba(0,0,0,0.15);
            }

            .contact-us button[type="submit"]:hover {
                background-color: grey;
                transform: translateY(-2px);
                box-shadow: 0 6px 12px rgba(0,0,0,0.2);
            }


        }
    }
}