<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Bar</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body class="add-a-bar">
<!-- Header fragment -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- Form for adding a new bar entry -->
<form action="/attractions/add" th:object="${attraction}" method="post">
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}"/>
    </p>
    <p>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" th:field="*{description}"/>
    </p>
    <p>
        <label for="citypart">Select a part of the city:</label>
        <select id="citypart" name="citypart" th:field="*{cityPart}">
            <option th:each="cityPart : ${cityparts}" th:value="${cityPart}" th:text="${cityPart}"></option>
        </select>
    </p>
    <div class="checkbox-group">
        <div th:each="tag : ${tags}">
            <label th:for="${tag}">
                <input type="checkbox" th:id="${tag}" th:name="tags" th:value="${tag}" th:field="*{tags}" th:text="${tag}">
            </label>
        </div>
    </div>

    <br>
    <input type="submit" value="Add bar" /></form>


</form>

<!-- Footer fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>