<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>
<header class="site-header">
    <div class="logo">Copenhagen Bars</div>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="http://localhost:8080/attractions">Bars</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<p>The bar has been deleted</p>
<p>

    <a th:href="@{'/attractions'}">
        <button type="button">Return</button>
    </a>
</p>
</body>
<footer>
    <div class="contact-info">
        <h4>Contact Us</h4>
        <p>Email: info@mybarsincopenhagen.com</p>
        <p>Phone: +45 12 34 56 78</p>
    </div>
    <div class="social-media">
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
        <a href="https://twitter.com" target="_blank">Twitter</a>
    </div>
</footer>
</html>
