<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Bars</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="touristAttraction : ${attractions}">
        <td>
            <a th:text="${touristAttraction.name}">Attraction name</a>
            <a th:text="${touristAttraction.description}">Attraction description</a>
            <a th:text="${touristAttraction.cityPart}">Attraction city part</a>
            <p>

                <a th:href="@{ ${touristAttraction.name} + '/tags'}">
                    <button type="button">Tags</button>
                </a>
            </p>
            <p>

                <a th:href="@{ ${touristAttraction.name} + '/update'}">
                    <button type="button">Update</button>
                </a>
            </p>
            <p>

                <a th:href="@{ ${touristAttraction.name} + '/delete'}">
                    <button type="button">Delete</button>
                </a>
            </p>

        </td>
    </tr>
    </tbody>
</table>
<p>

    <a th:href="@{'/attractions/add'}">
        <button type="button">Add bar</button>
    </a>
</p>
</body>
</html>