<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>
<form action="/attractions/tags" method="get" th:object="${attraction}">
    <body>
    <table>
        <thead>
        <tr>
            <th>Bars</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="String : ${attraction.tags}">
            <td th:text="${String}"></td>
        </tr>
        </tbody>
    </table>
    </body>

</form>

</body>
</html>