<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<form action="/attractions/update" method="post" th:object="${attraction}">
    <p th:text="${attraction.name}">
    </p>
    <p>
        <label>Description:</label>
        <input name="description" type="description" th:value="${attraction.description}"/>
    </p>
    <select name="citypart" id="citypart" th:field="*{cityPart}">
        <tr th:each="String : ${cityparts}">
            <option th:value="${String}" th:text="${String}"></option>
        </tr>
        <label for="citypart">Select a part of the city:</label>
    </select>
    <br>
    <tr th:each="String : ${tags}" >
        <label th:for="${String}">
        <input type="checkbox" th:id="${String}" th:name="${String}" th:value="${String}" th:field="*{tags}" th:text="${String}">
        </label>
    </tr>
    <p>
        <button type="submit" class="button">Update attractions</button>

        <a th:href="@{'/attractions'}">
            <button type="button" class="button">Cancel</button>
        </a>
    </p>
</form>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
